description = "Text Slider"
==
<div class="container">
			<div class="row wrap">
				<div class="col-md-12 gallery"> 
						<div class="camera_wrap camera_white_skin" id="camera_wrap_1">
							<div data-thumb="" data-src="{{ 'assets/images/slides/blank.gif'|theme }}">
								<div class="img-responsive camera_caption fadeFromBottom">
									<img class="ca" src="http://pikipik.weebly.com/uploads/1/8/5/4/18549692/6334786_orig.jpg" alt="">
								</div>
							</div>
							<div data-thumb="" data-src="{{ 'assets/images/slides/blank.gif'|theme }}">
								<div class="img-responsive camera_caption fadeFromBottom">
									<img class="ca" src="http://www.mego-design.ru/images/1/img16838dabanna.jpg" alt="">
								</div>
							</div>
							<div data-thumb="" data-src="{{ 'assets/images/slides/blank.gif'|theme }}">
								<div class="img-responsive camera_caption fadeFromBottom">
									<img class="ca" src="http://strg1.armada.kz/neofiles/serve-image/5600e17e6b76735f73340700/1000x400" alt="">
									</div>
									</div>
										<div data-thumb="" data-src="{{ 'assets/images/slides/blank.gif'|theme }}">
								<div class="img-responsive camera_caption fadeFromBottom">
									<img class="ca" src="http://old.rusmebel.info/assets/slider/6.jpg" alt="">
								</div>
							</div>
								<div data-thumb="" data-src="{{ 'assets/images/slides/blank.gif'|theme }}">
								<div class="img-responsive camera_caption fadeFromBottom">
									<img class="ca" src="http://old.rusmebel.info/assets/slider/6.jpg" alt="">
								</div>
							</div>
								</div>
							</div>
						</div><!-- #camera_wrap_1 -->
				</div>